<!doctype html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <style>
        main {
            --primary: #d81b60;
            --primary-hover: #e91e63;
            --primary-focus: rgba(216, 27, 96, 0.25);
            --primary-inverse: #FFF;
        }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
    <title># überbot quotes</title>
</head>
<body>
<main>
    <form method="post">
        <label>
            Search query
            <input type="text" name="query" placeholder="Search..." required>
        </label>
        <button type="submit">Search</button>
    </form>
    {{#if quotes}}
        <table>
            <thead>
            <tr>
                <td>Author</td>
                <td>Quote</td>
            </tr>
            </thead>
            <tbody>
            {{#each quotes}}
                <tr>
                    <td>{{author}}</td>
                    <td>{{quote}}</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    {{/if}}
</main>
</body>
</html>